<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <menuitem
        id="main_menu"
        name="Customer App"
        sequence="0"
    />

    <!-- <menuitem
        id="billList"
        name="Hóa đơn"
        parent="main_menu"
        sequence="5"
    />
    <menuitem
        id="archiveList"
        name="Hàng kí gửi"
        parent="main_menu"
        sequence="25"
    />
    <menuitem
        id="errorList"
        name="Phản hồi"
        parent="main_menu"
        sequence="30"
    /> -->
</odoo>
