<?xml version="1.0" encoding="utf-8" ?>
<odoo>
   
    <record id="vvc_customer_action_form" model="ir.ui.view">
        <field name="name">customer.account.form</field>
        <field name="model">customer.account</field>
        <field name="arch" type="xml">
            <form string="Chi tiết khách hàng">
                <sheet>
                    <group>
                        <field name="name"></field>
                        <field name="birthday"></field>
                        <field name="phone"></field>
                        <field name="email"></field>
                        <field name="gender"></field>
                        <field name="IDCard"></field>
                        <field name="studyLevel"></field>
                        <field name="job"></field>
                        <field name="elevatorCard"></field>
                        <field name="isCompany"></field>
                        <field name="password"></field>
                        <field name="ground_ids"></field>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_customer_action_tree" model="ir.ui.view">
        <field name="name">customer.account.tree</field>
        <field name="model">customer.account</field>
        <field name="arch" type="xml">
            <tree string="List khách hàng">
                <field name="id"></field>
                <field name="name"></field>
                <field name="phone"></field>
                <field name="building"></field>
                <field name="block"></field>
                <field name="ground_ids" widget="many2many_tags"></field>
                <field name="archiveCount"></field>
                <field name="billCount"></field>
                <field name="errorCount"></field>
            </tree>
        </field>
    </record>

    <record id="vvc_customer_action_search" model="ir.ui.view">
        <field name="name">customer.account.search</field>
        <field name="model">customer.account</field>
        <field name="arch" type="xml">
            <search>
                <field name="name"></field>
                <field name="id"></field>
                <field name="isCompany"></field>
                <field name="ground_ids"></field>
            </search>
        </field>
    </record>

    <record id="vvc_customer_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Khách hàng</field>
        <field name="res_model">customer.account</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- archive -->

    <record id="vvc_archive_action_form" model="ir.ui.view">
        <field name="name">customer.archive.form</field>
        <field name="model">customer.archive</field>
        <field name="arch" type="xml">
            <form string="Chi tiết đơn hàng">
                <sheet>
                    <group>
                        <group>
                            <field name="user_id"/>
                            <field name="name"/>
                            <field name="phone"/>
                            <field name="ground_ids"/>
                            <field name="block"/>
                            <field name="building"/>
                            <field name="inputTime"/>
                            <field name="outputTime"/>
                            <field name="status" />
                            <field name="desc" />
                        </group>
                        <group>
                            <field name="inputImage" widget="image"/>
                            <field name="outputImage" widget="image"/>
                        </group>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_archive_action_tree" model="ir.ui.view">
        <field name="name">customer.archive.tree</field>
        <field name="model">customer.archive</field>
        <field name="arch" type="xml">
            <tree string="List đơn hàng" 
            decoration-success="status == 'sended'"
            decoration-info="status == 'store'"
            >
                <field name="id"/>
                <field name="user_id"/>
                <field name="name"/>
                <field name="phone"/>
                <field name="inputTime"/>
                <field name="outputTime"/>
                <field name="ground_ids" widget="many2many_tags"/>
                <field name="block"/>
                <field name="building"/>
                <field name="status" />
            </tree>
        </field>
    </record>

    <record id="vvc_archive_action_search" model="ir.ui.view">
        <field name="name">customer.archive.search</field>
        <field name="model">customer.archive</field>
        <field name="arch" type="xml">
            <search>
                <field name="id"/>
                <field name="status" />
                <field name="user_id"/>
                <field name="name"/>
                <field name="phone"/>
                <field name="ground_ids"/>
                <field name="block"/>
                <field name="inputTime"/>
                <field name="outputTime"/>
                <field name="building"/>
                <field name="inputImage"/>
                <field name="outputImage"/>
            </search>
        </field>
    </record>

    <record id="vvc_archive_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Hàng kí gửi</field>
        <field name="res_model">customer.archive</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- bill -->
    <record id="vvc_bill_action_form" model="ir.ui.view">
        <field name="name">customer.bill.form</field>
        <field name="model">customer.bill</field>
        <field name="arch" type="xml">
            <form string="Chi tiết hóa đơn">
                <sheet>
                    <group>
                        <field name="user_id"/>
                        <field name="type"/>
                        <field name="total"/>
                        <field name="status" />
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_bill_action_tree" model="ir.ui.view">
        <field name="name">customer.bill.tree</field>
        <field name="model">customer.bill</field>
        <field name="arch" type="xml">
            <tree string="List hóa đơn">
                <field name="user_id"/>
                <field name="type"/>
                <field name="total"/>
                <field name="status" />
            </tree>
        </field>
    </record>

    <record id="vvc_bill_action_search" model="ir.ui.view">
        <field name="name">customer.bill.search</field>
        <field name="model">customer.bill</field>
        <field name="arch" type="xml">
            <search>
                <field name="user_id"/>
                <field name="type"/>
                <field name="total"/>
                <field name="status" />
            </search>
        </field>
    </record>

    <record id="vvc_bill_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Hóa đơn</field>
        <field name="res_model">customer.bill</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <record id="vvc_service_fee_table_action_form" model="ir.ui.view">
        <field name="name">customer.servicefeetable.form</field>
        <field name="model">customer.servicefeetable</field>
        <field name="arch" type="xml">
            <form string="Chi tiết biểu phí dịch vụ">
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="ground_ids"/>
                        <field name="block"/>
                        <field name="building"/>
                        <field name="type"/>
                        <field name="cost"/>
                        <field name="size"/>
                        <field name="total"/>
                        <field name="title"/>
                        <field name="status"/>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_service_fee_table_action_tree" model="ir.ui.view">
        <field name="name">customer.servicefeetable.tree</field>
        <field name="model">customer.servicefeetable</field>
        <field name="arch" type="xml">
            <tree string="List biểu phí dịch vụ">
                <field name="ground_ids"/>
                <field name="block"/>
                <field name="building"/>
                <field name="type"/>
                <field name="cost"/>
                <field name="size"/>
                <field name="total"/>
                <field name="title"/>
                <field name="status"/>
            </tree>
        </field>
    </record>

    <record id="vvc_service_fee_table_action_search" model="ir.ui.view">
        <field name="name">customer.servicefeetable.search</field>
        <field name="model">customer.servicefeetable</field>
        <field name="arch" type="xml">
            <search>
                <field name="name"/>
                <field name="ground_ids"/>
                <field name="block"/>
                <field name="building"/>
                <field name="type"/>
                <field name="cost"/>
                <field name="size"/>
                <field name="total"/>
                <field name="title"/>
                <field name="status"/>
            </search>
        </field>
    </record>

    <record id="vvc_service_fee_table_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Biểu phí dịch vụ</field>
        <field name="res_model">customer.servicefeetable</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- error  -->
    <record id="vvc_error_action_form" model="ir.ui.view">
        <field name="name">customer.error.form</field>
        <field name="model">customer.error</field>
        <field name="arch" type="xml">
            <form string="Chi tiết hóa đơn">
                <sheet>
                    <group>
                        <field name="user_id"/>
                        <field name="name"/>
                        <field name="phone"/>
                        <field name="ground_ids"/>
                        <field name="block"/>
                        <field name="building"/>
                        <field name="errLocation"/>
                        <field name="desc"/>
                        <field name="imgURL"/>
                        <field name="status"/>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_error_action_tree" model="ir.ui.view">
        <field name="name">customer.error.tree</field>
        <field name="model">customer.error</field>
        <field name="arch" type="xml">
            <tree string="List hóa đơn" decoration-danger="status == 'err'">
                <field name="user_id"/>
                <field name="name"/>
                <field name="phone"/>
                <field name="ground_ids" widget="many2many_tags"/>
                <field name="block"/>
                <field name="building"/>
                <field name="errLocation"/>
                <field name="desc"/>
                <field name="imgURL"/>
                <field name="status"/>
            </tree>
        </field>
    </record>

    <record id="vvc_error_action_search" model="ir.ui.view">
        <field name="name">customer.error.search</field>
        <field name="model">customer.error</field>
        <field name="arch" type="xml">
            <search>
                <field name="user_id"/>
                <field name="name"/>
                <field name="phone"/>
                <field name="ground_ids"/>
                <field name="block"/>
                <field name="building"/>
                <field name="errLocation"/>
                <field name="desc"/>
                <field name="imgURL"/>
                <field name="status"/>
            </search>
        </field>
    </record>

    <record id="vvc_error_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Báo lỗi</field>
        <field name="res_model">customer.error</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- qr code -->
    <record id="vvc_qr_action_form" model="ir.ui.view">
        <field name="name">customer.qr.form</field>
        <field name="model">customer.qr</field>
        <field name="arch" type="xml">
            <form string="QR Code">
                <header>
                    <field name="status" widget="statusbar" nolabel="1"></field>
                </header>
                <sheet>
                    <group>
                        <field name="timeScan"/>
                        <field name="qrCodeScan" widget="qr_code_widget"/>
                        <field name="type"/>
                        <field name="ground_ids"/>
                        <field name="block"/>
                        <field name="building"/>
                        <field name="water" attrs="{'invisible': [('type', '=', 'elec')]}"/>
                        <field name="elec" attrs="{'invisible': [('type', '=', 'water')]}"/>
                        <field name="recordImage"  widget="image"/>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_qr_action_tree" model="ir.ui.view">
        <field name="name">customer.qr.tree</field>
        <field name="model">customer.qr</field>
        <field name="arch" type="xml">
            <tree string="List QR">
                <field name="timeScan"/>
                <field name="type"/>
                <field name="qrCodeScan"/>
                <field name="water" attrs="{'invisible': [('type', '=', 'elec')]}"/>
                <field name="elec" attrs="{'invisible': [('type', '=', 'water')]}"/>
                <field name="ground_ids"/>
                <field name="block"/>
            </tree>
        </field>
    </record>

    <record id="vvc_qr_action_search" model="ir.ui.view">
        <field name="name">customer.qr.search</field>
        <field name="model">customer.qr</field>
        <field name="arch" type="xml">
            <search>
                <field name="timeScan"/>
                <field name="qrCodeScan"/>
                <field name="type"/>
                <field name="ground_ids"/>
                <field name="block"/>
                <field name="building"/>
            </search>
        </field>
    </record>

    <record id="vvc_qr_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">QR Code</field>
        <field name="res_model">customer.qr</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- pm QR -->
    <record id="vvc_pmc_action_form" model="ir.ui.view">
        <field name="name">customer.pmc.form</field>
        <field name="model">customer.pmc</field>
        <field name="arch" type="xml">
            <form string="PMC">
                <sheet>
                    <group>
                        <field name="timeScan"/>
                        <field name="qrCodeScan" widget="qr_code_widget"/>
                        <field name="pmQR"/>
                        <field name="stage"/>
                        <field name="block"/>
                        <field name="building"/>
                        <field name="desc"/>
                        <field name="anState"/>
                        <field name="anComment"/>
                        <field name="vsState"/>
                        <field name="vsComment"/>
                        <field name="ktState"/>
                        <field name="ktComment"/>
                    </group>
                </sheet>
                <div class="oe_chatter">
                    <field name="message_follower_ids" widget="mail_followers"/>
                    <field name="activity_ids" widget="mail_activity"/>
                    <field name="message_ids" widget="mail_thread"/>
                </div>
            </form>
        </field>
    </record>

    <record id="vvc_pmc_action_tree" model="ir.ui.view">
        <field name="name">customer.pmc.tree</field>
        <field name="model">customer.pmc</field>
        <field name="arch" type="xml">
            <tree string="List PMC">
                <field name="timeScan"/>
                <field name="qrCodeScan"/>
                <field name="anState"/>
                <field name="vsState"/>
                <field name="ktState"/>
                <field name="stage"/>
                <field name="block"/>
                <field name="building"/>
            </tree>
        </field>
    </record>

    <record id="vvc_pmc_action_search" model="ir.ui.view">
        <field name="name">customer.pmc.search</field>
        <field name="model">customer.pmc</field>
        <field name="arch" type="xml">
            <search>
                <field name="timeScan"/>
                <field name="qrCodeScan"/>
                <field name="stage"/>
                <field name="block"/>
                <field name="building"/>
            </search>
        </field>
    </record>

    <record id="vvc_pmc_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">PMC</field>
        <field name="res_model">customer.pmc</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>

    <!-- Setting -->
    <record id="vvc_building_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Tòa nhà</field>
        <field name="res_model">customer.building</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_block_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Block</field>
        <field name="res_model">customer.block</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_ground_action_tree" model="ir.ui.view">
        <field name="name">customer.ground.tree</field>
        <field name="model">customer.ground</field>
        <field name="arch" type="xml">
            <tree string="List mặt bằng">
                <field name="name"/>
                <field name="ownerCustomer"/>
                <field name="size"/>
                <field name="block"/>
                <field name="building" />
                <field name="typeQLVH"/>
                <field name="typeElec"/>
                <field name="typeWater"/>
            </tree>
        </field>
    </record>
    <record id="vvc_ground_action_form" model="ir.ui.view">
        <field name="name">customer.ground.form</field>
        <field name="model">customer.ground</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="stage"/>
                        <field name="size"/>
                        <field name="block"/>
                        <field name="building" />
                        <field name="ownerCustomer"></field>
                        <field name="waterClock" />
                        <field name="waterClockQrCode" widget="image"/>
                        <field name="elecClock" />
                        <field name="elecClockQrCode" widget="image"/>
                        <field name="typeQLVH"/>
                        <field name="typeElec"/>
                        <field name="typeWater"/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_ground_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Mặt bằng</field>
        <field name="res_model">customer.ground</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_pm_action_tree" model="ir.ui.view">
        <field name="name">customer.pmqr.tree</field>
        <field name="model">customer.pmqr</field>
        <field name="arch" type="xml">
            <tree string="List PMQR">
                <field name="pmCode"/>
                <field name="stage"/>
                <field name="desc"/>
                <field name="block"/>
                <field name="building" />
            </tree>
        </field>
    </record>
    <record id="vvc_pm_action_form" model="ir.ui.view">
        <field name="name">customer.pmqr.form</field>
        <field name="model">customer.pmqr</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="stage"/>
                        <field name="desc"/>
                        <field name="block"/>
                        <field name="building" />
                        <field name="pmCode"/>
                        <field name="pmQRcode" widget='image'/>
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_pm_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">PM Code</field>
        <field name="res_model">customer.pmqr</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_typeelecfee_action_tree" model="ir.ui.view">
        <field name="name">customer.typeelecfee.tree</field>
        <field name="model">customer.typeelecfee</field>
        <field name="arch" type="xml">
            <tree string="List phí điện">
                <field name="name"/>
                <field name="building" />
            </tree>
        </field>
    </record>
    <record id="vvc_typeelecfee_action_form" model="ir.ui.view">
        <field name="name">customer.typeelecfee.form</field>
        <field name="model">customer.typeelecfee</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <group>
                            <field name="name"/>
                            <field name="building" />
                            <field name="vat" />
                            <field name="envProtect" />
                        </group>
                        <group>
                            <field name="limit1"/>
                            <field name="cost1"/>
                        </group>
                        <group>
                            <field name="limit2"/>
                            <field name="cost2"/>
                        </group>
                        <group>
                            <field name="limit3"/>
                            <field name="cost3"/>
                        </group>
                        <group>
                            <field name="limit4"/>
                            <field name="cost4"/>
                        </group>
                        <group>
                            <field name="limit5"/>
                            <field name="cost5"/>
                        </group>
                        <group>
                            <field name="limit6"/>
                            <field name="cost6"/>
                        </group>
                        <group>
                            <field name="limit7"/>
                            <field name="cost7"/>
                        </group>
                        <group>
                            <field name="limit8"/>
                            <field name="cost8"/>
                        </group>
                        <group>
                            <field name="limit9"/>
                            <field name="cost9"/>
                        </group>
                        <group>
                            <field name="limit10"/>
                            <field name="cost10"/>
                        </group>
                        <group name="Loại phí khác">
                            <field name="difType"/>
                            <field name="difRate"/>
                            <field name="difAbs"/>
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_typeelecfee_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Loại phí điện</field>
        <field name="res_model">customer.typeelecfee</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_typewaterfee_action_tree" model="ir.ui.view">
        <field name="name">customer.typewaterfee.tree</field>
        <field name="model">customer.typewaterfee</field>
        <field name="arch" type="xml">
            <tree string="List phí nước">
                <field name="name"/>
                <field name="building" />
            </tree>
        </field>
    </record>
    <record id="vvc_typewaterfee_action_form" model="ir.ui.view">
        <field name="name">customer.typewaterfee.form</field>
        <field name="model">customer.typewaterfee</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <group>
                            <field name="name"/>
                            <field name="building" />
                            <field name="vat" />
                            <field name="envProtect" />
                        </group>
                        <group>
                            <field name="limit1"/>
                            <field name="cost1"/>
                        </group>
                        <group>
                            <field name="limit2"/>
                            <field name="cost2"/>
                        </group>
                        <group>
                            <field name="limit3"/>
                            <field name="cost3"/>
                        </group>
                        <group>
                            <field name="limit4"/>
                            <field name="cost4"/>
                        </group>
                        <group>
                            <field name="limit5"/>
                            <field name="cost5"/>
                        </group>
                        <group>
                            <field name="limit6"/>
                            <field name="cost6"/>
                        </group>
                        <group>
                            <field name="limit7"/>
                            <field name="cost7"/>
                        </group>
                        <group>
                            <field name="limit8"/>
                            <field name="cost8"/>
                        </group>
                        <group>
                            <field name="limit9"/>
                            <field name="cost9"/>
                        </group>
                        <group>
                            <field name="limit10"/>
                            <field name="cost10"/>
                        </group>
                        <group name="Loại phí khác">
                            <field name="difType"/>
                            <field name="difRate"/>
                            <field name="difAbs"/>
                        </group>
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_typewaterfee_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Loại phí nước</field>
        <field name="res_model">customer.typewaterfee</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_typecarfee_action_tree" model="ir.ui.view">
        <field name="name">customer.typecarfee.tree</field>
        <field name="model">customer.typecarfee</field>
        <field name="arch" type="xml">
            <tree string="List phí xe">
                <field name="name"/>
                <field name="cost"/>
                <field name="building" />
            </tree>
        </field>
    </record>
    <record id="vvc_typecarfee_action_form" model="ir.ui.view">
        <field name="name">customer.typecarfee.form</field>
        <field name="model">customer.typecarfee</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="cost"/>
                        <field name="building" />
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_typecarfee_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Loại phí xe</field>
        <field name="res_model">customer.typecarfee</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <record id="vvc_typeqlvhfee_action_tree" model="ir.ui.view">
        <field name="name">customer.typeqlvhfee.tree</field>
        <field name="model">customer.typeqlvhfee</field>
        <field name="arch" type="xml">
            <tree string="List phí QLVH">
                <field name="name"/>
                <field name="cost"/>
                <field name="building" />
            </tree>
        </field>
    </record>
    <record id="vvc_typeqlvhfee_action_form" model="ir.ui.view">
        <field name="name">customer.typeqlvhfee.form</field>
        <field name="model">customer.typeqlvhfee</field>
        <field name="arch" type="xml">
            <form>
                <sheet>
                    <group>
                        <field name="name"/>
                        <field name="cost"/>
                        <field name="building" />
                    </group>
                </sheet>
            </form>
        </field>
    </record>
    <record id="vvc_typeqlvhfee_action" model="ir.actions.act_window">
        <field name="type">ir.actions.act_window</field>
        <field name="name">Loại phí QLVH</field>
        <field name="res_model">customer.typeqlvhfee</field>
        <field name="view_mode">tree,form</field>
        <field name="context">{}</field>
    </record>
    <!-- menuitem -->
    <menuitem
            id="vvc_customer_root_menu"
            name="VVC Customer"
            sequence="10"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_customer"
            action="vvc_customer_action"
            name="Khách hàng"
            sequence="3"/>

    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_archive"
            action="vvc_archive_action"
            name="Đơn hàng"
            sequence="4"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_accounting"
            name="Hóa đơn"
            sequence="5"/>
            <menuitem
                parent="vvc_all_accounting"
                id="vvc_all_bill"
                action="vvc_bill_action"
                name="Hóa đơn"
                sequence="6"/>
            <menuitem
                parent="vvc_all_accounting"
                id="vvc_all_service_fee_table"
                action="vvc_service_fee_table_action"
                name="Biểu phí dịch vụ"
                sequence="7"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_error"
            action="vvc_error_action"
            name="Báo lỗi"
            sequence="6"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_qr"
            action="vvc_qr_action"
            name="QR Code"
            sequence="7"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_all_pmc"
            action="vvc_pmc_action"
            name="PMC"
            sequence="8"/>
    <menuitem
            parent="vvc_customer_root_menu"
            id="vvc_setting_root"
            name="Cài đặt"
            sequence="20"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_building"
                action="vvc_building_action"
                name="Tòa nhà"
                sequence="24"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_block"
                action="vvc_block_action"
                name="Block"
                sequence="26"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_ground"
                action="vvc_ground_action"
                name="Mặt bằng"
                sequence="28"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_pmqr"
                action="vvc_pm_action"
                name="PM Code"
                sequence="30"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_typeelecfee"
                action="vvc_typeelecfee_action"
                name="Loại phí điện"
                sequence="31"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_typewaterfee"
                action="vvc_typewaterfee_action"
                name="Loại phí nước"
                sequence="32"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_typecarfee"
                action="vvc_typecarfee_action"
                name="Loại phí xe"
                sequence="33"/>
            <menuitem
                parent="vvc_setting_root"
                id="vvc_setting_typeqlvhfee"
                action="vvc_typeqlvhfee_action"
                name="Loại phí QLVH"
                sequence="34"/>
</odoo>